body{
	background-color: #ccc;
}
.container{
	position: relative;
	margin: 0 auto;
	max-width: 750px;
	min-height: 100%;
	height: auto;
	padding: 0;
	background: #29bde0;
}
.head{
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	max-width: 750px;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	background: #29bde0;
	border-bottom: 0.1rem solid #fff;
}
.head span{
	font-family: "黑体";
	font-size: 3rem;
	color: #fff;
}
.back{
	position: absolute;
	top: 1rem;
	left: 2rem;
	width: 1.5rem;
	height: 3rem;
}
.quit{
	position: absolute;
	top: 1rem;
	right: 2rem;
	width: 3rem;
	height: 3rem;
}
.main{
	position: relative;
	top: 5rem;
	width: 100%;
	height: auto;
	padding: 2rem 2rem 0;
	font-size: 0;//消除inline-block元素之间的间隙
}
.wrap{
	display: inline-block;
	width: 33%;
	margin-bottom: 2rem;
	text-align: center;
}
.wrap_inner{
	width: 80%;
	margin: 0 auto;
	border: .3rem solid #fff;
	background-color: #f5c97b;
}
.up_part{
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	background-color: #f5c97b;
}
.down_part{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	background-color: #83b09a;
}
.foot{
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 750px;
	background: #29bde9;
}
.fbtn{
	display: block;
	width: 74%;
	margin: 2rem auto;
	padding: .5rem 0;
	font-family: "黑体";
	font-size: 3rem;
	color: #fff;
	background-color: #fbb435;
	border: 0;
	border-radius: 0;
}
