body{
	background-color: #ccc;
}
.container{
	max-width: 375px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #f0f0f0;
}
.head{
	height: 5rem;
	background-color: #29bde0;
	font-size: 5rem;
	line-height: 5rem;
	padding-left: 2rem;
}
.btn1{
	color: #fff;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}
.back:hover,
.back:active{
	text-decoration: none;
	color: #fff;
}
.section{
	width: 100%;
}
.main{
	width: 95%;
	height: 20rem;
	margin: 1rem auto;
	background-color: #fff;
	// border: 1px solid #000;
	display: flex;
}
.title{
	width: 8%;
	// line-height: 4rem;
	margin: 0 .2rem;
	font-size: 2rem;
	font-family: "黑体";
	text-align: center;
	writing-mode: tb-rl;
	background-color: #fff;
	// border: 1px solid #000;
	border-radius: .5rem;
}
.title1{
	width: 92%;
}
.people{
	width: 100%;
	height: 80%;
	display: flex;
	align-items:center;
	justify-content:center;
	border-left: 1px solid #ccc;
}
.people div{
	width: 50%;
	text-align: center;
}
.people div::before{
	display: inline-block;
	margin-right: .3rem;
	content: "";
	width: .7rem;
	height: .7rem;
	background-color: #29bde0;
}
#killer::before{
	background-color: #fab344;
}
.set{
	height: 20%;
	text-align: center;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	// border: 1px solid #000;
}
#set{
	margin-top: 1rem;
	color: #29bde0;
	font-size: 2rem;
	background-color: #fff;
	border: none;
}
.name{
	width: 95%;
	height: auto;
	margin: auto;
	padding: .5rem;
	background-color: #fff;
	// border: 1px solid #ccc;
}
.name ul{
	padding: .5rem 0;
	text-align: center;
}
.name input{
	border: none;
	outline: none;
}
.name1{
	display: inline-block;
	margin-bottom: 1rem;
	padding: 1rem 0;
	color: #bbb;
	border-bottom: 1px solid #bbb;
	list-style-type: none;
}
.num{
	width: 95%;
	margin: 1rem auto;
	padding: .5rem;
	color: #000;
	background-color: #fff;
	// border: 1px solid #ccc;
	text-align: center;
}
.text-center{
	margin: 1rem 0;
	display: flex;
	align-items:center;
	justify-content:center;
}
#sub,#add{
	width: 1.5rem;
	height: 1.5rem;
	// flex:.5;
	font-size: .1rem;
	font-weight: bold;
	color: #fab344;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #ccc;
}
#range{
	width: 80%;
	height: .3rem;
	flex:7;
	appearance: none;
	-webkit-appearance:none;
	background-color: #fab344;
	background-position: center;
	outline: none;
}
.num input{
	background-color: #e0e0e0;
	border: none;
	color: #fbb435;
	text-align: center;
}
.num p{
	display: inline;
	margin-left: .5rem;
	color: #fbb435;
}
.footer{
	width: 95%;
	margin: 0 auto;
}
.footer input{
	width: 100%;
	padding: .5rem;
	background-color: #fbb435;
	text-align: center;
	color: #fff;
	font-size: 3rem;
	border: none;
}